<!doctype html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>{{client_name}}</title>
                <link rel="preconnect" href="https://fonts.gstatic.com">
                <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
                <link href="//fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <style>
                  .resume {
/*                    border: 1px solid black;*/
                  }
                  * {
                    font-size: 14px;
                  }
                  hr {
    -moz-box-sizing: border-box;
    -moz-float-edge: margin-box;
    border: 1px inset;
    display: block;
    height: 2px;
    margin: 0.5em auto;
}
                </style>
        </head>

        <body>
            <div class="resume">
              <span style="font-size: 25px; font-weight: bolder;">Keval Padsumbiya</span><br>
              <!-- <span style="font-size:1px;"> </span> -->
              <!-- <ul style="list-style: none ; margin-left: 0;">
                <li>Address</li>
                <li>Phone Number</li>
                <li>Email address</li>
              </ul> -->
              <span>Address</span><br>
              <span>Phone number</span><br>
              <span>Email address</span><br>
              <p>
                Summary
              </p>
              <span style="font-size: 20px; font-weight: bolder; line-height: 14px;">Education</span>
              <hr>
              <table style="width: 100%;">
                <tr>
                  <td style="font-size: 16px; font-weight:bolder;">School Name</td>
                  <td style="text-align: right;"><i>Address</i></td>
                </tr>
                <tr>
                  <td style="font-size: 16px;">Main Stream</td>
                  <td style="text-align: right;"><i>time</i></td>
                </tr>

              </table>
              <div style="height: 5px; width:100%;"></div>
              <table style="width: 100%;">
                <tr>
                  <td style="font-size: 16px; font-weight:bolder;">School Name</td>
                  <td style="text-align: right;"><i>Address</i></td>
                </tr>
                <tr>
                  <td style="font-size: 16px;">Main Stream</td>
                  <td style="text-align: right;"><i>time</i></td>
                </tr>
                
              </table>

              <br>
              <span style="font-size: 20px; font-weight: bolder; line-height: 14px;">Experience</span>
              <hr>
              <table style="width: 100%;">
                <tr>
                  <td style="font-size: 16px; font-weight:bolder;">Position Name</td>
                  <td style="text-align: right;"><i>time</i></td>
                </tr>
                <tr>
                  <td style="font-size: 16px; font-weight:bolder;">Company Name</td>
                  <td style="text-align: right;"><i>Address</i></td>
                </tr>
                <tr>
                  <td style="font-size: 14px; width: 100%;" colspan="2">
                    <ul">
                      <li>aaskdjnaskjd ad asd da fas dfs adf asd f as df asdfw</li>
                      <li>basdf asd fasd f asd f asd f asd fasdfasdfads</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <table style="width: 100%;">
                <tr>
                  <td style="font-size: 16px; font-weight:bolder;">Position Name</td>
                  <td style="text-align: right;"><i>time</i></td>
                </tr>
                <tr>
                  <td style="font-size: 16px; font-weight:bolder;">Company Name</td>
                  <td style="text-align: right;"><i>Address</i></td>
                </tr>
                <tr>
                  <td style="font-size: 14px; width: 100%;" colspan="2">
                    <ul">
                      <li>aaskdjnaskjd ad asd da fas dfs adf asd f as df asdfw</li>
                      <li>basdf asd fasd f asd f asd f asd fasdfasdfads</li>
                    </ul>
                  </td>
                </tr>
              </table>

              <br>
              <span style="font-size: 20px; font-weight: bolder; line-height: 20px;">Skills</span>
              <hr>
              <table style="width: 100%;" >
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
              </table>
              
              <br>
              <span style="font-size: 20px; font-weight: bolder; line-height: 20px;">Achievements</span>
              <hr>
              <table style="width: 100%;" >
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
              </table>
              
              <br>
              <span style="font-size: 20px; font-weight: bolder; line-height: 20px;">Other</span>
              <hr>
              <table style="width: 100%;" >
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
                <tr>
                  <td style="font-size: 14px;">Skill 1</td>
                </tr>
              </table>
            </div>    
        </body>
</html>